<div class="jumbotron text-center">
    <h1>Edit Course</h1>
</div>
<div *ngIf="course" class="container">
    <form (submit)="submitEdit()">
        <p class="errors" *ngFor="let err of errors">{{err}}</p>

        <div class="form-group">
            Course Name:
            <input class="form-control" type="text" name="course.name" [(ngModel)]="course.name">
        </div>

        <div class="form-group">
            Description:
            <textarea class="form-control" type="text" name="course.description" [(ngModel)]="course.description"></textarea>
        </div>

        <div class="form-group">
            Instructor:
            <input class="form-control" type="text" name="course.instructor" [(ngModel)]="course.instructor">
        </div>

        <div class="form-group">
            Location:
            <input class="form-control" type="text" name="course.location" [(ngModel)]="course.location">

        </div>

        <div class="form-group">
            Date:
            <input class="form-control" type="date" name="course.date" [(ngModel)]="course.date">
        </div>
        <div class="col-sm-12 col-md-6">
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit Edit">
        </div>
        <div class="col-sm-12 col-md-6">
            <button class="btn btn-link btn-lg btn-block" [routerLink]="['/vektor/courses']">Cancel</button>
        </div>
    </form>
</div>
<br>

<button [routerLink]="['/vektor/contact']" id="support_btn"><span class="glyphicon glyphicon-question-sign"></span> Support</button>

