.main{
  color: orange;
  font-size: 200px;
  font-family: "Iowan Old Style";
}
.sub{
  color: white;
  text-align: center;
  font-family: InaiMathi;
}

.container{
  color: black;
  text-align: center;
  width: 30%;
  height: 900%;
  float: left;
  background-color: lightgoldenrodyellow;
 font-size: 20px;
  font-family: Geneva;
}
