<div class="parent-container">
  <div class="child-container">
    <h2> About <b>Yummly!
    </b></h2>
    <span class="desc">Yummly is a Mashup application built using <i>Foursquare & Edamam's Recipe Search APIs</i> .A great recipe is at the heart of every memorable meal. Browse our themed recipes for inspiration or search by ingredient.</span><br><br><br>
    <form>
      <div class="form-group">
        <label>Subscribe to our news letter:</label><br><br>
        <div class="form-group col-lg-4 col-lg-offset-4">
          <input type="text" class="form-control" placeholder="name@example.com" />
        </div><br>
        <button class="btn btn-dark col-lg-2 col-lg-offset-5 gobtn ">Submit</button>
      </div>
    </form>
  </div>
