<nav class="navbar navbar-default background">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand background">Yummly!</a>
    </div>

    <div class="collapse navbar-collapse tx">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/search-recipe">Search Recipe</a></li>
        <li><a routerLink="/contactus">Contact Us</a></li>
        <li><a routerLink="/about">About</a></li>
      </ul>

    </div>
  </div>
</nav>
