<div class="jumbotron text-center">
  <h1>Sources to Improve your Knowledge</h1>
  <h5 align="center">Angular,Node, Bigdata , Iconic,Hadoop</h5>
</div>

      <div class="col-sm-4">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/5wtnKulcquA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-sm-4">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/r2ga-iXS5i4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-sm-4">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/TlB_eWDSMt4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-sm-4">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/mafw2-CVYnA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-sm-4">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/9mELEARcxJo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-sm-4">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/zez2Tv-bcXY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>




<button [routerLink]="['/vektor/contact']" id="support_btn"><span class="glyphicon glyphicon-question-sign"></span> Support</button>
